<nav>
  <!-- 左 -->
  <div class="nav-left">
    <div class="logo">🦷 SOS.dental</div>
  </div>

  <!-- 右 -->
  <div class="nav-right">
    <div class="menu" id="menu">
      <a href="./">首頁</a>
      <a href="./rescue/">植牙失敗救援</a>
      <a href="./cases/">案例中心</a>
      <a href="./doctor/">醫師介紹</a>
      <a href="./education/">知識中心</a>
      <a href="./assessment/">免費評估</a>
      <a href="./contact/">聯絡我們</a>
      <a href="./privacy/">隱私權</a>
    </div>

    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>