<header>
  <nav>
    <div class="logo">🦷 SOS.dental</div>

    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="menu" id="menu">
      <a href="./">首頁</a>
      <a href="./rescue/">救援</a>
      <a href="./cases/">案例</a>
      <a href="./doctor/">醫師</a>
      <a href="./education/">知識</a>
      <a href="./assessment/">評估</a>
      <a href="./contact/">聯絡</a>
      <a href="./assessment/" class="btn btn-gold">免費評估</a>
    </div>
  </nav>
</header>